/* || UTILITIES */

* {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* || GENERAL STYLES */

body {
    font-family: 'Libre Baskerville', serif;
    font-family: 'Roboto', sans-serif;
}

/* || buttons */

.button {
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.1px;
    text-transform: uppercase;
    text-decoration: none;
}

/* || text/large body */

.text-large-body {
    font-family: Roboto;
    font-size: 25px;
    font-style: normal;
    font-weight: 300;
    line-height: 150%;
    text-transform: capitalize;
}

/* || text/large title */

.text-large-title {
    font-family: "Libre Baskerville";
    font-size: 45px;
    font-weight: 400;
    line-height: 110%;
    text-transform: capitalize;
}

/* || text/default body */

.text-dedault-body {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    line-height: 150%;
}

/* || text/small title */

.text-small-title {
    font-family: "Libre Baskerville";
    font-size: 23px;
    font-weight: 700;
    line-height: 110%;
}

/* || text/small body */

.text-small-body {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
}

/* || section */

.section {
    display: flex;
    width: 1400px;
    max-width: 100%;
    height: 88px;
    padding: 14px 101px 100px 99px;
    justify-content: center;
    align-items: center;
    gap: 141px;
}

.section__logo {
    display: flex;
    width: 263px;
    height: 59px;
    padding-bottom: 0px;
    justify-content: center;
    align-items: center;
    gap: 14px;
    flex-shrink: 0;
}

.section__title {
    display: flex;
    padding-right: 1px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 3px;
}

.section__title--text1 {
    color: #343D33;
    font-family: Roboto;
    font-size: 23px;
    font-weight: 500;
    text-transform: uppercase;
}

.section__title--text2 {
    color: #333;
    font-family: Roboto;
    font-size: 15px;
    font-style: italic;
    font-weight: 400;
}


.menu__list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 40px;
}

.menu__item {
    color: #414840;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2.1px;
    text-transform: uppercase;
    text-decoration: none;
}

.menu__button {
    display: flex;
    border: 2px solid var(--Primary, #475F45);
    padding: 15px 30px;
    align-items: center;
    gap: 10px;
}

.menu__button--item {
    color: var(--Primary, #475F45);
}

/* || main */

.main {
    display: flex;
    gap: 500px;
    height: 800px;
}

.main__title {
    width: 528px;
    position: relative;
    left: 100px;
    margin-top: 200px;
}

.main__title--text1 {
    color: var(--Header-text, #343D33);

    /* text/extra large title */
    font-family: "Libre Baskerville";
    font-size: 57px;
    font-weight: 400;
    line-height: 110%;
    text-transform: capitalize;
}

.main__title--text2 {
    color: var(--text-body-copy, #414840);
    width: 471px;
}

.main__title--button {
    display: inline-flex;
    gap: 16px;
    position: relative;
    top: 30px;
}

.main__title__button--item {
    display: flex;
    padding: 20px 40px;
    align-items: center;
    gap: 10px;
}

.main__button1 {
    background: var(--Primary, #475F45);
}

.main__button--A1 {
    color: #FFF;
}

.main__button2 {
    border: 2px solid var(--Primary, #475F45);
}

.main__button--A2 {
    color: var(--Primary, #475F45);
}

/* || discover */

.discover {
    background: var(--Header-text, #343D33);
}

.discover__box {
    padding: 120px 0px 120px 0px;
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    gap: 90px;
}

.discover__box--item {
    display: flex;
    justify-content: space-between
}

.discover__box--text {
    width: 417px;
    display: inline-flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.discover__title {
    color: var(--white, #FFF);
    width: 417px;
}

.discover__text {
    color: var(--white, #FFF);
    width: 401px;
}

.discover__button {
    display: inline-flex;
    padding: 20px 40px;
    align-items: center;
    gap: 10px;
    border: 2px solid var(--white, #FFF);
}

.discover__button__T {
    color: var(--white, #FFF);
}

/* || updates */

.updates {
    padding: 100px 0px 50px 140px;
}

.updates__title {
    color: var(--Header-text, #343D33);
}

.updates__line {
    width: 131px;
    height: 2px;
    flex-shrink: 0;
    opacity: 0.4;
    background: var(--Primary, #475F45);
}

.updates__text {
    display: inline-flex;
    align-items: center;
    gap: 12px;
    position: relative;
    left: 120px;
    top: 15px;
}

.updates__paragraph {
    color: var(--Primary, #475F45);
}

.updates__blog {
    display: flex;
    justify-content: space-evenly;
}

.updates__box {
    display: flex;
    height: 518px;
    padding-bottom: 19px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-left: 100px;
}

.updates__box--info {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.updates__box--title {
    color: var(--Primary, #475F45);
    width: 280px;
}

.updates__box--text {
    width: 471px;
    height: 73px;
    flex-shrink: 0;
    color: var(--text-body-copy, #414840);

}

.updates__box--date {
    width: 280px;
    color: var(--Header-text, #343D33);
    font-family: Roboto;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: 150%;
}

.updates__list {
    display: inline-flex;
    flex-direction: column;
    gap: 20px;
}

.updates__item {
    display: flex;
    padding-right: 20px;
    align-items: center;
    gap: 20px;
}

.updates__list--line {
    width: 630px;
    height: 1px;
    background: var(--light-gray, #C4C4C4);
}

.updates__item--info {
    display: flex;
    width: 354px;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.updates__item--title {
    width: 280px;
    color: var(--Primary, #475F45);
}

.updates__item--text {
    width: 354px;
    color: var(--text-body-copy, #414840);
}

.updates__item--date {
    color: var(--Header-text, #343D33);
    font-family: Roboto;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    line-height: 150%;
    width: 280px;
}

/* || footer */

footer {
    background: var(--text-body-copy, #414840);
    margin-top: 100px;
}

.footer__info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 60px 0px 0px 89px;
}

.footer__logo {
    display: flex;
    width: 263px;
    height: 59px;
    gap: 14px;
    align-items: center;
}

.footer__title {
    color: var(--white, #FFF);
    font-family: Roboto;
    font-size: 18.896px;
    font-weight: 500;
    letter-spacing: 1.89px;
    text-transform: uppercase;
    height: 21.966px;
}

.footer__text {
    color: var(--white, #FFF);
    font-family: Roboto;
    font-size: 12.323px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.123px;
    width: 156.097px;
    height: 14.644px;
}

.footer__paragraph {
    color: var(--white, #FFF);
    width: 269px;
}

.sitemap__info {
    position: absolute;
    left: 800px;
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.sitemap {
    color: var(--white, #FFF);
    text-align: center;
    font-family: "Libre Baskerville";
    font-size: 16px;
    font-weight: 400;
    line-height: 110%;
    text-transform: capitalize;
}

.sitemap__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sitemap__item {
    color: var(--white, #FFF);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

.connect__info {
    display: flex;
    position: relative;
    left: 450px;
    bottom: 166px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.footer__connext--icons {
    display: flex;
    gap: 32px;
}

.connect {
    position: relative;
    right: 60px;
    bottom: 10px;
}

.footer__2 {
    background: var(--Header-text, #343D33);
    display: flex;
    height: 80px;
    justify-content: center;
    align-items: center;
}

.footer__copyright {
    color: var(--white, #FFF);
    text-align: center;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
}